@{
    ViewData["Title"] = "Home Page";
}
<html> 
<body>
    <div class="contenier" style="background-color: #1E0628;">
        @*<div class="col-md-8">*@
        <div class="row mt-5 justify-content-sm-around">
            <div class="card" style="width: 24rem">
                <img src="image/stay-bramble.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-dark">continue to read</a>
                    @*<a href="#" class="btn btn-warning">Another link</a>*@
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <i class="bi bi-clock-history" style="font-size:20px"></i>Date
                        <i class="bg-info bi-eye" style="font-size:20px"> </i>views
                        <i class="bi bi-chat-left-heart" style="font-size:20px"> </i> comments
                    </small>
                </div>

            </div>

            @* </div>*@
            @*<div class="row mt-5 justify-content-between">*@
            <div class="card" style="width: 24rem">
                <img src="image/stay-bramble.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-dark">continue to read</a>
                    @*<a href="#" class="btn btn-warning">Another link</a>*@
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <i class="bi bi-clock-history" style="font-size:20px"></i>Date
                        <i class="bg-info bi-eye" style="font-size:20px"> </i>views
                        <i class="bi bi-chat-left-heart" style="font-size:20px"> </i> comments
                    </small>
                </div>
            </div>
            </br>

            <div class="card" style="width: 24rem;">
                <img src="image/stay-bramble.png" class="card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Most Viewed Article</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>

        </div>
    </div>

<div class="align-content-lg-end">
    <br />
    <br/>
    <h1 style="color: #C91515" class="display-20">stay bramble.</h1>
    
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
   
</div>
</body>
</html>