@{
    ViewData["Title"] = "Home Page";
}

<div class="align-content-lg-end">
    <br />
    <br/>
    <h1 class="display-20">stay bramble.</h1>
    
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
   
</div>
