@{
    ViewData["Title"] = "WhatisB?";
}

<div class="container">
    <div class="col-md-10">
        <div class="section-row">
            &nbsp;
            <h1>Our History</h1>
            <p>
                Lorem ipsum dolor sit amet, ea eos tibique expetendis, tollit viderer ne nam. No ponderum accommodare eam, purto nominavi cum ea, sit no dolores tractatos. Scripta principes quaerendum ex has, ea mei omnes eruditi. Nec ex nulla mandamus, quot omnesque mel et. Amet habemus ancillae id eum, justo dignissim mei ea, vix ei tantas aliquid. Cu laudem impetus conclusionemque nec, velit erant persius te mel. Ut eum verterem perpetua scribentur.Nec ex nulla mandamus, quot omnesque mel et. Amet habemus ancillae id eum, justo dignissim mei ea, vix ei tantas aliquid. Cu laudem impetus conclusionemque nec, velit erant persius te mel. Ut eum verterem perpetua scribentur.
            </p>
            <img src="/image/bramble-icon.png" alt="default" width="44" height="55" />
        </div>
        
    </div>
</div>
