@using MVCBlogProject.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@model ArticlesIndexVM
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Article";
    
}


<hr />
<table>
    <thead>
    <tr>
            <th> <h3>Create Article</h3> </th>
    </tr>
    </thead>
</table>
 <tbody>
        <tr>
        <td>
            @if (SignInManager.IsSignedIn(User)) {
           @* <p>
                <a asp-action="Write" class="btn btn-outline-success">Write</a>
            </p>*@
           <hr />
 <div class="row">     
     <div class="col-md-8">         
         <form asp-action="AddArticle">             
             <input asp-for="UserId" hidden />             
             <br />            
             <div class="form-group">                 
                 <label asp-for="Name" class="control-label"></label>                 
                 <input asp-for="Name" class="form-control" />             
             </div>             
             <br />             
             <div class="form-group">                
                 <label asp-for="Content" class="control-label"></label>                 
                 <textarea asp-for="Content" class="form-control" aria-label="With textarea"></textarea>             
             </div>            
             <br />             
             <div class="form-group text-center">                 
                 <input type="submit" value="AddArticle" class="btn btn-info" />            
             </div>                      
           </form>     
     </div> 
 </div>
            }
           
        </td>
        </tr>
 </tbody>

 
